$secondary-color: #03a9f4;

@import "../../node_modules/materialize-css/sass/materialize";

body {
  background: #fefcea; /* Old browsers */
  background: -moz-linear-gradient(top, #fefcea 0%, #f1da36 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #fefcea 0%,
    #f1da36 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #fefcea 0%,
    #f1da36 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */
  background-color: #f1da36;
  background-repeat: no-repeat;
}
